{% extends "MadefComptaBundle:Layout:default.html.twig" %}
{% block title %}Mouvement de compte entre le {{ startDate }} et le {{ endDate }}{% endblock %}
{% block navbarContent %}
<li>
    <form method="post" class="navbar-search pull-left form-inline">
        <input type="date" id="champ1" name="start_date" value="{{ startDateRow }}" onblur="$(this).parent().submit()">
        <input type="date" id="champ2" name="end_date" value="{{ endDateRow }}" onblur="$(this).parent().submit()">
    </form>
</li>
{% endblock %}
{% block content %}
<div class="page-header">
    <form method="get" class="form-inline">
        <label>Filtrer : </label>
        <select id="type" name="type" onchange="$(this).parent().submit();">
            <option value="">Type</option>
            {% for type in typeList %}
            <option value="{{ type }}" {% if currentType == type %}selected{% endif %}>{{ type }}</option>
            {% endfor %}
        </select>
        <select id="flowDirection" name="flowDirection" onchange="$(this).parent().submit();">
            <option value="">Sens</option>
            {% for key, flowDirection in flowDirectionList %}
            <option value="{{ key }}" {% if currentFlowDirection == key %}selected{% endif %}>{{ flowDirection }}</option>
            {% endfor %}
        </select>
    </form>
</div>
{% if successMessage %}
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
        {% for message in successMessage %}
            {{ message }}{% if not loop.last %}<br />{% endif %}
        {% endfor %}
</div>
{% endif %}
<table class="table table-striped table-hover table-bordered table-acount-line">
    <thead>
        <tr>
            <th>Description</th>
            <th class="date-field">Date</th>
            <th class="price-field text-right">Taux de TVA</th>
            <th class="price-field text-right">TVA</th>
            <th class="price-field text-right">HT</th>
            <th class="price-field text-right">TTC</th>
            <th class="action-field">Facture</th>
        </tr>
    </thead>
    <tbody>
        <tr class="resume">
            <th colspan="2">Solde de la pèriode précédante</th>
            <td class="text-right">{{ soldeTaxRate|number_format(2, ',', '\'') }} %</td>
            <td class="text-right {% if soldeTaxValue < 0 %}negative{% endif %}">{{ soldeTaxValue|number_format(2, ',', '\'') }} €</td>
            <td class="text-right {% if soldeTaxExclude < 0 %}negative{% endif %}">{{ soldeTaxExclude|number_format(2, ',', '\'') }} €</td>
            <td class="text-right {% if soldeTaxInclude < 0 %}negative{% endif %}">{{ soldeTaxInclude|number_format(2, ',', '\'') }} €</td>
            <td class="text-right"></td>
        </tr>
            {% for accountLine in accountLineCollection %}
        <tr onclick="window.location = '{{ url('madef_compta_accountline_edit', {accountLine: accountLine.getId()}) }}';">
            <td>{{ accountLine.getDescription() }}</td>
            <td>{{ accountLine.getDate("j M. Y") }}</td>
            <td class="text-right">{{ accountLine.getTaxRate()|number_format(2, ',', '\'') }} %</td>
            <td class="text-right {% if accountLine.getTaxValue() < 0 %}negative{% endif %}">{{ accountLine.getTaxValue()|number_format(2, ',', '\'') }} €</td>
            <td class="text-right {% if accountLine.getValueTaxExclude() < 0 %}negative{% endif %}">{{ accountLine.getValueTaxExclude()|number_format(2, ',', '\'') }} €</td>
            <td class="text-right {% if accountLine.getValueTaxInclude() < 0 %}negative{% endif %}">{{ accountLine.getValueTaxInclude()|number_format(2, ',', '\'') }} €</td>
            <td class="action-field">
            {% if accountLine.getInvoice() %}
                    <a href="{{ url('madef_compta_invoice_edit', {invoice: accountLine.getInvoice().getId()}) }}"><i class=" icon-eye-open"></i></a>
                {% if accountLine.getInvoice().hasFilename() %}
                        <a href="{{ url('madef_compta_invoice_download', {invoice: accountLine.getInvoice().getId()}) }}"><i class=" icon-download-alt"></i></a>
                {% endif %}
            {% endif %}
                        </td>
                    </tr>
            {% else %}
                    <tr>
                        <td colspan="7">Pas d'enregistrement sur cette période.</td>
                    </tr>
            {% endfor %}
                    <tr class="resume">
                        <th colspan="2">Total</th>
                        <td class="text-right">{{ totalTaxRate|number_format(2, ',', '\'') }} %</td>
                        <td class="text-right {% if totalTaxValue < 0 %}negative{% endif %}">{{ totalTaxValue|number_format(2, ',', '\'') }} €</td>
                        <td class="text-right {% if totalTaxExclude < 0 %}negative{% endif %}">{{ totalTaxExclude|number_format(2, ',', '\'') }} €</td>
                        <td class="text-right {% if totalTaxInclude < 0 %}negative{% endif %}">{{ totalTaxInclude|number_format(2, ',', '\'') }} €</td>
                        <td class="text-right"></td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-striped table-hover table-bordered table-acount-line">
                <tbody>
                    <tr class="resume">
                        <th colspan="2">Résumé de la période</th>
                        <td class="price-field text-right">{{ rangeTaxRate|number_format(2, ',', '\'') }} %</td>
                        <td class="price-field text-right {% if rangeTaxValue < 0 %}negative{% endif %}">{{ rangeTaxValue|number_format(2, ',', '\'') }} €</td>
                        <td class="price-field text-right {% if rangeTaxExclude < 0 %}negative{% endif %}">{{ rangeTaxExclude|number_format(2, ',', '\'') }} €</td>
                        <td class="price-field text-right {% if rangeTaxInclude < 0 %}negative{% endif %}">{{ rangeTaxInclude|number_format(2, ',', '\'') }} €</td>
                        <td class="action-field">
                            <a href="{{ url('madef_compta_accountline_list', {format: 'csv'}) }}"><i class=" icon-download-alt"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>

{% endblock %}
