{% extends "MadefComptaBundle:Layout:default.html.twig" %}
{% block title %}{% trans with {'%startDate%': startDate, '%endDate%': endDate} %}invoice.page.list.title{% endtrans %}{% endblock %}
{% block navbarContent %}
    <li>
        <form method="post" class="navbar-search pull-left form-inline">
            <input type="date" id="start_date" name="start_date" value="{{ startDateRow }}" onblur="$(this).parent().submit();">
            <input type="date" id="end_date" name="end_date" value="{{ endDateRow }}" onblur="$(this).parent().submit();">
        </form>
    </li>
{% endblock %}
{% block content %}
    <div class="page-header">
        <form method="get" class="form-inline">
            <label>{% trans %}invoice.page.list.form.label.filter{% endtrans %}</label>
            <select id="type" name="type" onchange="$(this).parent().submit();">
                <option value="">{% trans %}invoice.page.list.form.label.type{% endtrans %}</option>
                {% for type in typeList %}
                    <option value="{{ type }}" {% if currentType == type %}selected{% endif %}>{{ type }}</option>
                {% endfor %}
            </select>
            <select id="transmitter" name="transmitter" onchange="$(this).parent().submit();">
                <option value="">{% trans %}account.page.list.form.label.transmitter{% endtrans %}</option>
                {% for company in companyList %}
                    <option value="{{ company }}" {% if currentTransmitter == company %}selected{% endif %}>{{ company }}</option>
                {% endfor %}
            </select>
            <select id="receiver" name="receiver" onchange="$(this).parent().submit();">
                <option value="">{% trans %}account.page.list.form.label.receiver{% endtrans %}</option>
                {% for company in companyList %}
                    <option value="{{ company }}" {% if currentReceiver == company %}selected{% endif %}>{{ company }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    {% if successMessage %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {% for message in successMessage %}
                {{ message }}{% if not loop.last %}<br />{% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>{% trans %}account.page.list.table.column.title.description{% endtrans %}</th>
                <th class="date-field">{% trans %}account.page.list.table.column.title.date{% endtrans %}</th>
                <th class="price-field text-right">{% trans %}invoice.page.list.table.column.title.taxRate{% endtrans %}</th>
                <th class="price-field text-right">{% trans %}invoice.page.list.table.column.title.taxValue{% endtrans %}</th>
                <th class="price-field text-right">{% trans %}invoice.page.list.table.column.title.valueTaxExclude{% endtrans %}</th>
                <th class="price-field text-right">{% trans %}invoice.page.list.table.column.title.valueTaxInclude{% endtrans %}</th>
                <th class="action-field"></th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoiceCollection %}
                <tr onclick="window.location = '{{ url('madef_compta_invoice_edit', {invoice: invoice.getId()}) }}';">
                    <td>{{ invoice.getDescription() }}</td>
                    <td>{{ invoice.getDate("j M. Y") }}</td>
                    <td class="text-right">{{ invoice.getTaxRate()|number_format(2, ',', '\'') }} %</td>
                    <td class="text-right">{{ invoice.getTaxValue()|number_format(2, ',', '\'') }} €</td>
                    <td class="text-right">{{ invoice.getValueTaxExclude()|number_format(2, ',', '\'') }} €</td>
                    <td class="text-right">{{ invoice.getValueTaxInclude()|number_format(2, ',', '\'') }} €</td>
                    <td class="text-right">{% if invoice.hasFilename() %}<a href="{{ url('madef_compta_invoice_download', {invoice: invoice.getId()}) }}"><i class=" icon-download-alt"></i></a>{% endif %}</td>
                </tr>
                {% else %}
                    <tr>
                        <td colspan="7">{% trans %}account.page.list.table.line.title.noLines{% endtrans %}</td>
                    </tr>
                    {% endfor %}
                        <tr class="resume">
                            <th colspan="2">{% trans %}account.page.list.table.line.title.total{% endtrans %}</th>
                            <td class="text-right">{{ totalTaxRate|number_format(2, ',', '\'') }} %</td>
                            <td class="text-right">{{ totalTaxValue|number_format(2, ',', '\'') }} €</td>
                            <td class="text-right">{{ totalTaxExclude|number_format(2, ',', '\'') }} €</td>
                            <td class="text-right">{{ totalTaxInclude|number_format(2, ',', '\'') }} €</td>
                            <td><a href="{{ url('madef_compta_invoice_downloadlist', {startDate: startDateRow, endDate: endDateRow}) }}?type={{ currentType }}&transmitter={{ currentTransmitter }}&receiver={{ currentReceiver }}"><i class=" icon-download-alt"></i></a></td>
                        </tr>
                    </tbody>
                </table>
                {% endblock %}
